<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav class="sb-sidenav-menu" th:fragment="admin_sidebar">
    <div class="nav">

        <!-- 카페 홈 -->
        <a class="nav-link"
           th:classappend="${activeMenu == 'main'} ? ' active'"
           th:href="@{/healthCafe}">
            <span class="nav-emoji">🏠</span>카페 홈
        </a>

        <!-- 공지 -->
<!--        <a class="nav-link"
           th:classappend="${activeMenu == 'noticeBoard'} ? ' active'"
           th:href="@{/noticeBoard/list}">
            <span class="nav-emoji">📢</span>공지사항
        </a>-->

        <div class="sidenav-section-title">관리자 기능</div>

        <!-- 회원 관리 -->
        <a class="nav-link"
           th:classappend="${activeMenu == 'member'} ? ' active'"
           th:href="@{/member/list}">
            <span class="nav-emoji">👥</span>회원 관리
        </a>

        <!-- 게시판 관리 -->
        <a class="nav-link"
           th:if="${cafe != null
                and cafe.code != null
                and !#strings.isEmpty(cafe.code)}"
           th:classappend="${activeMenu == 'boardManagement'} ? ' active'"
           th:href="@{|/boardManagement/list?c=${cafe.code}|}">
            <span class="nav-emoji">🗂️</span>게시판 관리
        </a>

        <!-- 게시판 추가 -->
        <a class="nav-link"
           th:if="${cafe != null
                and cafe.code != null
                and !#strings.isEmpty(cafe.code)}"
           th:classappend="${activeMenu == 'boardCreate'} ? ' active'"
           th:href="@{|/boardManagement/create?c=${cafe.code}|}">
            <span class="nav-emoji">➕</span>게시판 추가
        </a>

        <!-- 운영 게시판 -->
        <a class="nav-link"
           th:classappend="${activeMenu == 'operationBoard'} ? ' active'"
           th:href="@{/operationBoard/list}">
            <span class="nav-emoji">📋</span>운영 게시판
        </a>

        <div class="sidenav-section-title">그 외</div>

        <!-- 탈퇴 사유 통계 -->
        <a class="nav-link"
           sec:authorize="hasAnyAuthority('ROLE_ADMIN')"
           th:classappend="${activeMenu == 'withdrawalReason'} ? ' active'"
           th:href="@{/member/withdrawalReason}">
            <span class="nav-emoji">📊</span>탈퇴 사유 통계
        </a>

        <!-- 관리 페이지 -->
        <a class="nav-link"
           th:classappend="${activeMenu == 'meta'} ? ' active'"
           th:href="${cafe?.code != null} ? @{|/admin?c=${cafe.code}|} : @{/admin}">
            <span class="nav-emoji">⚙</span>관리 페이지
        </a>

    </div>
</nav>
</body>
</html>
