<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>

<header class="masthead" th:fragment="inc_header"
        th:with="img=${headerImage} ?: @{/assets/img/main.jpg}, pos=${headerPosition} ?: 'center center'"
        th:style="|background-image: url('${img}'); background-position: ${pos}; background-repeat: no-repeat; background-size: cover;|">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 layout:fragment="pageTitle">1팀 카페</h1>
                    <span class="subheading" layout:fragment="pageSubTitle">
                        여러분들의 일상을 공유해요~!
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

</body>
</html>
