<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="~{main_layout/inc_head :: inc_head}"></head>

<body th:classappend="${showHeader} == false ? ' no-header'">

<div th:replace="~{main_layout/inc_navbar :: inc_navbar}"></div>

<div th:if="${showHeader} != false">
    <div th:replace="~{main_layout/inc_header :: inc_header}"></div>
</div>

<div class="layout-main" th:classappend="${showSidebar} == false ? ' no-sidebar'">
    <!-- 왼쪽 사이드바 -->
    <aside class="layout-sidebar" th:if="${showSidebar} != false">
        <th:block th:switch="${sidebarKey}">
            <!-- 카페 전용 -->
            <th:block th:case="'cafe'">
                <th:block th:replace="~{main_layout/cafe_sidebar :: cafe_sidebar}"></th:block>
            </th:block>

            <!-- 어드민 전용 -->
            <th:block th:case="'admin'">
                <th:block th:replace="~{main_layout/admin_sidebar :: admin_sidebar}"></th:block>
            </th:block>

            <!-- 커스텀 카페 전용 -->
            <th:block th:case="'custom'">
                <th:block th:replace="~{main_layout/custom_sidebar :: custom_sidebar}"></th:block>
            </th:block>

            <!-- 기본 -->
            <th:block th:case="*">
                <th:block th:replace="~{main_layout/inc_sidebar :: inc_sidebar}"></th:block>
            </th:block>
        </th:block>
    </aside>
    <!-- 본문 내용 -->
    <section class="layout-content">
        <th:block layout:fragment="content"></th:block>
    </section>
</div>

<div th:replace="~{main_layout/inc_footer :: inc_footer}"></div>

<form id="logoutForm"
      th:action="@{/logout}"
      method="post"
      style="display:none;">
</form>

<script th:src="@{/js/logout.js}"></script>

<script th:src="@{/js/scripts.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<th:block layout:fragment="script"></th:block>

</body>
</html>
