<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav class="navbar navbar-expand-lg navbar-light"
     id="mainNav"
     th:fragment="inc_navbar">

    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/}">Cafe</a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive">
            Menu <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>

                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/member/login}">Login</a>
                </li>

                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/member/create}">Join</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link"
                       th:href="@{/member/view}"
                       th:text="${#authentication.name}">
                        My Page
                    </a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link"
                       href="#"
                       onclick="logout();return false;">
                        Logout
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>


</body>
</html>
