<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>

<header class="masthead"
        th:fragment="inc_header"
        th:with="img=${headerImage} ?: @{/assets/img/main.jpg},
                 pos=${headerPosition} ?: 'center center'"
        th:style="|background-image:url('${img}');
                  background-position:${pos};
                  background-repeat:no-repeat;
                  background-size:cover;|">

    <div class="container position-relative px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 layout:fragment="pageTitle">기본 타이틀</h1>
                    <span class="subheading" layout:fragment="pageSubTitle">
                        기본 서브 타이틀
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>


</body>
</html>
