<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<aside class="cafe-side"
       th:fragment="inc_aside">

    <div class="side-card">
        <button class="login-btn"
                th:onclick="|location.href='@{/member/login}'|">
            로그인
        </button>

        <div class="login-footer">
            <span>|</span>
            <a th:href="@{/member/create}">회원가입</a>
            <span>|</span>
        </div>
    </div>

    <div class="side-card">
        <button class="create-btn">카페 만들기</button>
    </div>

</aside>


</body>
</html>