<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="sb-sidenav-menu"
     th:fragment="inc_sidebar">

    <div class="nav">

        <a class="nav-link"
           th:classappend="${activeMenu=='main'} ? ' active'"
           href="/">
            🏠 카페 홈
        </a>

        <a class="nav-link" href="/explore_cafes/neighbor">👥 이웃</a>

        <a class="nav-link"
           th:classappend="${activeMenu=='subscribe'} ? ' active'"
           href="/explore_cafes/subscribe">⭐ 구독</a>

        <a class="nav-link"
           th:classappend="${activeMenu=='notice'} ? ' active'"
           href="/explore_cafes/notice">🔔 내 소식</a>

        <div class="sidenav-section-title">카페 탐색</div>

        <a class="nav-link" href="/explore_cafes/themed_cafes">📂 주제별</a>
        <a class="nav-link" href="/explore_cafes/cafes_by_location">📍 지역별</a>
        <a class="nav-link" href="/explore_cafes/top_cafes">👑 대표</a>
        <a class="nav-link" href="/explore_cafes/featured_cafes">📈 랭킹</a>

    </div>
</nav>


</body>
</html>
