<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{_layout/layout}"
      th:with="showHeader=false">

<body>

<div layout:fragment="content">
    <!-- 본문 내용 시작 -->
    <h1>회원상세보기</h1>

    <div class="mb-3">
        <label for="username">username:</label>
        <span class="form-control" id="username" th:text="${data.username}"></span>
    </div>
    <div class="mb-3">
        <label for="email">email:</label>
        <span class="form-control" id="email" th:text="${data.email}"></span>
    </div>
    <div class="mb-3">
        <label for="role">role:</label>
        <span class="form-control" id="role" th:text="${data.role}"></span>
    </div>
    <div class="mb-3">
        <label for="createDate">createDate:</label>
        <span class="form-control" id="createDate" th:text="${#dates.format(data.createDate, 'yyyy-MM-dd')}"></span><br>
    </div>

    <div>
        <a th:href="@{/}" class="btn btn-secondary">메인 페이지</a>
        <a th:href="@{|/member/roleUpdate/${data.id}|}" sec:authorize="hasAnyRole('MANAGER','ADMIN')" class="btn btn-secondary">권한 수정</a>
        <a th:href="@{/member/passwordUpdate}" sec:authorize="${#authentication.name == #vars.data.username}" class="btn btn-danger">비밀번호 변경</a>
        <a th:href="@{/member/delete}" sec:authorize="${#authentication.name == #vars.data.username}" class="btn btn-danger">회원 탈퇴</a>
    </div>
    <!-- 본문 내용 종료 -->
</div>

</body>
</html>
