<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{main_layout/layout}"
      th:with="headerImage=@{/assets/img/main.jpg},
               headerPosition='center center',
               sidebarKey='cafe'">
<body>

<h1 layout:fragment="pageTitle" onclick="location.href='/healthCafe'" style="cursor: pointer;">헬 사 모</h1>
<span layout:fragment="pageSubTitle">다 같이 길러보아요 근육!</span>

<div layout:fragment="content">

    <link th:href="@{/css/board.css}" rel="stylesheet" />

    <!-- ================= 본문 시작 ================= -->

    <h2>에러페이지</h2>
    <div class="mb-3 mt-3">
        <label for="errCode">에러코드:</label>
        <span class="form-control" id="errCode" th:text="${errCode}"></span>
    </div>
    <div class="mb-3 mt-3">
        <label for="errMsg">에러메시지:</label>
        <span class="form-control" id="errMsg" th:text="${errMsg}"></span>
    </div>

    <button type="button" class="btn btn-primary" onclick="location.href='/healthCafe';">홈으로</button>

    <!-- ================= 본문 종료 ================= -->

</div>
</body>
</html>
