<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{main_layout/layout}"
      th:with="headerImage=@{/assets/img/main.jpg},
               headerPosition='center center',
               sidebarKey='cafe'">
<body>

<h1 layout:fragment="pageTitle" onclick="location.href='/healthCafe'" style="cursor: pointer;">헬 사 모</h1>
<span layout:fragment="pageSubTitle">다 같이 길러보아요 근육!</span>

<div layout:fragment="content">

    <link th:href="@{/css/board.css}" rel="stylesheet" />

    <!-- ================= 본문 시작 ================= -->


    <!-- ================= 본문 종료 ================= -->

</div>
</body>
</html>
