<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{_layout/layout}"
      th:with="headerImage=@{/assets/img/main.jpg},
               headerPosition='center center'">
<body>
<h1 layout:fragment="pageTitle">헬 사 모</h1>
<span layout:fragment="pageSubTitle">다 같이 길러보아요 근육!</span>

<div layout:fragment="content">
    <!-- 본문 내용 시작 -->
    <h1>게시판 목록</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>설명</th>
            <th>만든이</th>
            <th>작성권한</th>
            <th>개설일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data, loop : ${list}"
            th:onclick="|location.href='@{|/boardManagement/view/${data.id}|}'|"
            style="cursor: pointer;">
            <td th:text="${loop.index+1}"></td>
            <td th:text="${data.name}"></td>
            <td class="td-ellipsis" th:text="${data.description}"></td>
            <td th:text="${data.username}"></td>
            <td th:text="${data.writeRole}"></td>
            <td th:text="${#dates.format(data.createDate, 'yyyy-MM-dd')}"></td>
        </tr>

        </tbody>
    </table>

    <div style="margin-top: 25px;" th:if="${list.totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${list.first} ? 'disabled'">
                <a class="page-link"
                   th:href="${list.first} ? '#' : @{|?page=${list.number-1}|}">
                    Prev
                </a>
            </li>

            <li class="page-item"
                th:each="page: ${#numbers.sequence(0, list.totalPages-1)}"
                th:classappend="${page == list.number} ? 'active'">
                <a class="page-link"
                   th:text="${page + 1}"
                   th:href="@{|?page=${page}|}">
                </a>
            </li>

            <li class="page-item" th:classappend="${list.last} ? 'disabled'">
                <a class="page-link"
                   th:href="${list.last} ? '#' : @{|?page=${list.number+1}|}">
                    Next
                </a>
            </li>
        </ul>
    </div>
    
    <!-- 본문 내용 종료 -->
</div>

</body>
</html>
